body {
  width: 300px;
  height: 500px;
  background-color: #272727;
  color: white;
}

/* .wrapper table, tr, td {
  border: 1px solid gray;
} */

.box {
  position: absolute;
  top: 40px;
  width: 100%;
}
/* buttons */
.cancel {
  position: absolute;
  top: 0;
  left: 0;
}

.setting {
  position: absolute;
  bottom: 0;
  left: 0;
}

.deleteModeOn {
  position: absolute;
  bottom: 0;
  right: 0;
}